@page "/auth/login"
@inject LoginViewModel vm

<div class="login-container">
    <FluentCard Width="400px">
        <h2 style="text-align: center; margin-bottom: 1rem;">Login</h2>

        <EditForm EditContext="@vm.EditContext">
            <DataAnnotationsValidator />

            @* Email *@
            <FluentTextField TextFieldType="TextFieldType.Email"
                             Placeholder="Email Address"
                             @bind-Value="vm.Form.Email"
                             Name="Email" Style="width: 100%; margin-bottom: 1rem;" />
            <FluentValidationMessage For="@(() => vm.Form.Email)" />

            @* Password *@
            <FluentTextField Placeholder="Password"
                             @bind-Value="vm.Form.Password"
                             Name="Password"
                             TextFieldType="@PasswordFieldType"
                             Style="width: 100%; ">


                <FluentIcon Title="Toggle visibility" Slot="end" @onclick="TogglePasswordVisibility"
                            Value="@(isPasswordVisible ? (Icon)new Icons.Regular.Size20.EyeOff() : new Icons.Regular.Size20.Eye())" />
            </FluentTextField>
            <FluentValidationMessage For="@(() => vm.Form.Password)" />

            <div style="margin-top: 1rem; text-align: right;">
                <a href="/auth/forgot" style="font-size: smaller;">Forgot password?</a>
            </div>


            @* Login *@
            <FluentButton Style="width: 100%; margin-top: 1rem;"
                          Appearance="Appearance.Accent"
                          @onclick="TriggerLogin"
                          Disabled="vm.IsBusy">
                @if (vm.IsBusy)
                {
                    <span>Logging in...</span>
                }
                else
                {
                    <span>Login</span>
                }
            </FluentButton>
        </EditForm>

        <div style="margin-top: 1rem; text-align: center;">
            <a style="font-size: small;">Don't have an account?</a>
            <a href="/auth/register" style="font-size: small; ">Register</a>
        </div>

    </FluentCard>
</div>

@code
{

    private bool isPasswordVisible = false;
    private TextFieldType PasswordFieldType =>
        isPasswordVisible ? TextFieldType.Text : TextFieldType.Password;

    private void TogglePasswordVisibility()
    {
        isPasswordVisible = !isPasswordVisible;
    }

    private async Task TriggerLogin()
    {
        await vm.LoginAsync();
    }

}
