@page "/auth/login"
@inject LoginViewModel vm
@inject IToastService ToastService

<div class="login-container">
    <FluentCard Width="400px">
        <h2 style="text-align: center; margin-bottom: 1rem;">Login</h2>

        <EditForm EditContext="@vm.EditContext">
            <DataAnnotationsValidator />

            @* Email *@
            <FluentTextField Label="Email" TextFieldType="TextFieldType.Email"
                             Placeholder="Enter your email"
                             @bind-Value="vm.Form.Email"
                             Name="Email" Style="width: 100%;" />
            <FluentValidationMessage For="@(() => vm.Form.Email)" />

            @* Password *@
            <FluentTextField Label="Password"
                             Placeholder="Enter your password"
                             @bind-Value="vm.Form.Password"
                             Name="Password"
                             TextFieldType="@PasswordFieldType"
                             Style="width: 100%;">


                <FluentIcon Title="Toggle visibility" Slot="end" @onclick="TogglePasswordVisibility"
                            Value="@(isPasswordVisible ? (Icon)new Icons.Regular.Size20.EyeOff() : new Icons.Regular.Size20.Eye())" />
            </FluentTextField>
            <FluentValidationMessage For="@(() => vm.Form.Password)" />



            @* Login *@
            <FluentButton Style="width: 100%; margin-top: 1rem;"
                          Appearance="Appearance.Accent"
                          @onclick="vm.LoginAsync"
                          Disabled="vm.IsBusy">
                @if (vm.IsBusy)
                {
                    <span>Logging in...</span>
                }
                else
                {
                    <span>Login</span>
                }
            </FluentButton>
        </EditForm>

        <div style="margin-top: 1rem; text-align: center;">
            <a href="/auth/forgot" style="font-size: 0.9rem;">Forgot your password?</a>
        </div>
    </FluentCard>
</div>

@if (!string.IsNullOrWhiteSpace(vm.ErrorMessage))
{
    <div class="text-danger mt-2">@vm.ErrorMessage</div>
}


@code
{
    private bool isPasswordVisible = false;

    private TextFieldType PasswordFieldType =>
        isPasswordVisible ? TextFieldType.Text : TextFieldType.Password;

    private void TogglePasswordVisibility()
    {
        isPasswordVisible = !isPasswordVisible;
    }
}
